body{
    background:white;
    padding: 0%;
    margin: 0%;
}
.topnav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px;
    
}
.container{
    display: flex;
    gap: 15px;
}
.secondbar{
    text-align: center;
    background-color: rgb(63, 63, 246);
    color: #ffffff;
    padding: 1px;
}
.secondnav{
    display: flex;
    gap: 200px;
    
}
.apparent {
    display: flex;
    flex-direction: column;
    width: 300px
}
.apparent h1{
    text-decoration: none;
    color: black;
}
.surface{
    display: flex;
    gap: 15px;

}


.surface button{
    background-color: rgb(72, 72, 247);
}
.page{
    display: flex;
    padding: 50px;
}
.product{
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap: 20px;
    width: 100%;
    column-gap: 1.5rem;
}
.windows{
    display: flex;
 background-color: white;
padding: 30px;

}
.image{
    display: flex;
    flex-direction: column;
    width:40rem;
    margin: 50px;

}
.box button{
    background-color:blue
}

.business{
    
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px;
    gap: 20px;
    column-gap: 1.5rem;
    
}
.business img{
    width: 100%;


}

.photo{
background: contain;
padding: 30px;
margin: 15px;
width: 1100px;
height: 400px;
}
.balance{
    position: relative;
}
.tym{
position: absolute;
top: 15px;
z-index: 12;
background-color:white;
width: 350px;
padding: 20px;
margin: 50px;
}





